<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>726872517648-7jlc3b899r75aur2jsejt61p1vs18s3b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.726872517648-7jlc3b899r75aur2jsejt61p1vs18s3b</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>726872517648-cage1qvta0oejjnpurhcs1lf0n2heper.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC1rowlHbHTs3sCj0CgKK2muB0nfXP7o_Y</string>
	<key>GCM_SENDER_ID</key>
	<string>726872517648</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ee.app.conversamanager</string>
	<key>PROJECT_ID</key>
	<string>luminous-inferno-3905</string>
	<key>STORAGE_BUCKET</key>
	<string>luminous-inferno-3905.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:726872517648:ios:6c38ef01d47e5fd8</string>
	<key>DATABASE_URL</key>
	<string>https://luminous-inferno-3905.firebaseio.com</string>
</dict>
</plist>